
.navbar{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background-color: #73cdf4 !important;
    color: #4e5655 !important;
    font-size: 18px !important;
}

.jumbotron{
    position: relative;
    padding-top: 100px !important;
    margin-top: -2px !important; 
    background-color: #6ecbef !important;
    text-align: center;
    margin-bottom: 40px !important;
    /*border-top: 40px !important; */
}

.tytul{
  text-align: center;  
  margin-top: 50px;  
  margin-bottom: 25px;  
  font-size: 45px; 
  color: #606263 !important; 
  text-decoration: none !important;   
}

.a-tytul{
  color: #606263 !important; 
  text-decoration: none !important;       
}
