
.jumbotron{
    position: relative;
    padding:0;
    margin-top:70px !important; 
    background-color: #6ecbef !important;
    text-align: center;
    margin-bottom: 0;
}

.tytul{
  text-align: center;  
  margin-top: 50px;  
  margin-bottom: 25px;  
  font-size: 45px;  
}
