
.navbar {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    margin-bottom: 0 !important;
    background-color: #b8e6f9 !important;
    color: #060707 !important;
    font-size: 17px !important;
}

.navbar-fixed-top{
    margin-bottom: 0 !important;
}

.navbar .navbar-brand {
  padding-top: 0;
  padding-bottom: 5px;  
  margin-top: -6px;
}
.navbar .navbar-brand img {
  height: 60px;
  width: 60px;
}

.jumbotron {
    position: relative;
    padding-top: 100px !important;
    margin-top: 0 !important; 
    background-color: #6ecbef !important;
    text-align: center;
    margin-bottom: 40px !important;
    /*border-top: 40px !important; */
}

.tytul {
  text-align: center;  
  margin-top: 0;  
  margin-bottom: 25px;  
  font-size: 45px; 
  color: #606263 !important; 
  text-decoration: none !important;   
}

.h3 {
    text-align: center;  
}

.a-tytul {
  color: #606263 !important; 
  text-decoration: none !important;    
  padding-top: 75px; 
  margin-top: -75px; 
}
